
body {
  background:#FFF;
  color:black;
  margin:0px;
}

#header-section {
  background:#307799;
}

#main-section {
  margin:40px 0;
}

#header {
  height:160px;
  vertical-align:bottom;
  padding: 0px 30px;
}
.alignleft {
  float:left;
  margin: 0 10px 10px 0;
}

#header a {
  color:white;
  text-decoration:none;
  font-weight:bolder;
}

.menu-main-container {
  text-align:right;
}
#footer {
  padding:30px 0;
}

#leftcolumn {
  position:relative;
}

#leftcolumn a {

}
.site-title {
  font-size:3rem; 
  margin-top: 10px !important;
}
.title a {
  color: black;
  text-decoration:none;
}

/** menus ***/

#menu-services-menu {
  margin-top: 120px !important;
}
